<h1>Wizard Component Example</h1>
<app-wizard #wizard [steps]="[
  { title: '1. Foo Step', template: foo },
  { title: '2. Bar Step', template: bar },
  { title: '3. Baz Step', template: baz }
]">

  <ng-template #foo>
    <div>
      <h2>1. Foo Step</h2>
      <p>
        Fusce maximus eu lorem sit amet gravida. Cras elementum elementum ornare. Sed cursus sollicitudin fermentum.
        Quisque mauris est, efficitur nec nisi id, maximus pellentesque velit. Mauris vehicula est eu tortor blandit
        rhoncus. Nullam ligula mi, convallis sit amet egestas et, vulputate suscipit magna. Sed ut mi pretium, tempus
        lectus id, fermentum mi. Nulla eleifend, ex tincidunt scelerisque volutpat, massa lacus sagittis metus, ut
        ornare diam ex id ligula. Pellentesque ornare justo lorem, nec posuere tortor tincidunt ac. Donec vel mollis
        libero. Fusce non odio eget nisi interdum accumsan. Curabitur ullamcorper maximus turpis vel auctor. Fusce id
        pretium nibh. Cras sollicitudin massa ex, in finibus ligula iaculis a. Mauris et eros urna. Sed non elit turpis.
      </p>
      <div>
        This button calls the wizard from inside the template:
        <button (click)="wizard.goToStep(wizard.steps.length - 1)">
          Skip to Last Step
        </button>
      </div>
      <div>
        This button sets the wizard to an invalid step index:
        <button (click)="wizard.goToStep(-1)">
          Make the Wizard Error
        </button>
      </div>
      <p>
        Sed et libero non libero placerat elementum. Cras nec massa accumsan, imperdiet orci vel, facilisis risus.
        Donec sodales orci nec est luctus, a finibus odio faucibus. Praesent vestibulum mattis libero, non lobortis
        turpis porttitor id. Aenean pulvinar ipsum felis. Nullam sollicitudin tortor ut augue consectetur finibus. Nunc
        blandit tincidunt ipsum a sodales. Proin vel blandit ligula. Sed tempus ac tortor sit amet consectetur. Nam in
        condimentum lacus. Nunc accumsan turpis porta ante tristique, vel egestas nisi rhoncus. Quisque ac nulla vel
        nisl rutrum interdum et vitae orci. Phasellus fermentum blandit est sed cursus. Integer a lacus ut sapien luctus
        rhoncus. Aliquam sollicitudin lectus ac ex dictum tincidunt. Vivamus dapibus ex mauris, id fringilla velit
        ultricies vitae.
      </p>
    </div>
  </ng-template>

  <ng-template #bar>
    <div>
      <h2>2. Bar Step</h2>
      <p>
        Sed sed lorem urna. Fusce nisl urna, feugiat in metus non, efficitur finibus purus. Sed vitae magna urna.
        Integer aliquet et est et interdum. Sed id libero sem. In ac rhoncus ligula. Etiam viverra sollicitudin enim,
        non accumsan ante mattis a.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at aliquet sapien, et venenatis neque. Sed
        nec fermentum purus. Ut eu orci pulvinar, porta lacus vel, aliquet nisi. Mauris malesuada maximus malesuada.
        Aliquam malesuada ornare ipsum ac porta. Sed euismod dignissim dolor et venenatis. Vestibulum purus elit,
        aliquam vel aliquet eget, vulputate nec tortor.
      </p>
    </div>
  </ng-template>

  <ng-template #baz>
    <div>
      <h2>3. Baz Step</h2>
      <p>
        Donec a justo non turpis dictum pellentesque. Duis malesuada nisi libero, sed placerat neque sollicitudin non.
        Phasellus nisi ante, pellentesque sed tellus quis, tempus varius ex. Praesent at purus sollicitudin, vulputate
        est id, tincidunt neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
        egestas. Integer interdum bibendum bibendum. Nam accumsan magna rhoncus, convallis odio quis, pretium sem.
        Nullam vel lacus sed ligula facilisis sollicitudin.
      </p>
      <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas
        lobortis, risus et ornare sollicitudin, turpis risus lobortis enim, id sollicitudin ante turpis id odio. Ut
        cursus, dolor cursus ullamcorper ultrices, risus diam posuere mauris, eget vehicula felis elit in sem. Morbi eu
        sapien posuere, rhoncus arcu et, laoreet mauris. Aenean pharetra fringilla nulla at vulputate. In nec
        consectetur magna. Etiam non purus dictum metus tempus sodales et id nulla. Donec pharetra pellentesque orci,
        vitae varius augue scelerisque in. Duis tempus ante non leo consectetur placerat. Nulla malesuada vestibulum
        risus ut pretium.
      </p>
    </div>
  </ng-template>

</app-wizard>
