body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}

button {
  background: Canvas;
  color: CanvasText;
  border: 1px solid CanvasText;
  border-radius: 4px;
  padding: 0.5rem;

  &:hover:not(:disabled) {
    color: Canvas;
    background: CanvasText;
    border-color: Canvas;
  }

  &:disabled {
    opacity: 0.5;
  }

  &.selected {
    text-decoration: underline;
  }
}
